
<!DOCTYPE html>
<html>
<head>
  <title>信息详情-江南无线</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<section id="detail_index" data-role="page">
  <header data-role="header" data-position="fixed">
    <h1>江南无线</h1>
  </header>
  <div data-role="content" class="content">
    <p class="border_p01"></p>

    <div data-role="controlgroup" data-type="horizontal">
      <a href="#" data-role="button" data-rel="back" data-theme="e" data-icon="arrow-l">返回</a>
      <a href="/news_cates/<%=@news_cate.id %>/edit" data-role="button" data-icon="gear" data-theme="c">编辑</a>
      <a href="/news_cates" data-role="button" data-icon="home" data-theme="b">首页</a>


    </div>
    <p id="notice"><%= notice %></p>
    <h4> <%= @news_cate.news_catename %></h4>
    <p> 描述：<%= @news_cate.new_catedesc %></p>
    <% if @news_cate.news_iconurl.length>0 %>
        <p><%= image_tag(@news_cate.news_iconurl) %></p>
    <% else %>
        <p><%= image_tag("tool_8.jpg") %></p>
    <% end %>

  </div>
  <footer data-role="footer" data-position="fixed"><h1>@2013 江南工作室</h1></footer>

</section>


</body>
</html>




