<p id="notice"><%= notice %></p>

<p>
  <b>Imgnews imgurl:</b>
  <%= @imgnews_datum.imgnews_imgurl %>
</p>

<p>
  <b>News data:</b>
  <%= @imgnews_datum.news_data %>
</p>


<%= link_to 'Edit', edit_imgnews_datum_path(@imgnews_datum) %> |
<%= link_to 'Back', imgnews_data_path %>
